{% block bodycontent %}

{% raw %}
<div id="example" class="handsontable"></div>
<button class="btn btn-success" name="dump" data-dump="#example" data-instance="hot" title="Saves current data to server">
  Update 
  </button>

 <script>


  function getTableConfig() {
{% endraw %}
{% autoescape false %}
    tableConfigHash = {{tableJson}}
{% endautoescape %}
{% raw %}
    return tableConfigHash;
  }
    
  var container = document.getElementById('example');
  var hot = new Handsontable(container,
  {
    data: getTableConfig()['data'],
    minSpareRows: 1,
    contextMenu: true,
    colHeaders: true,
    colHeaders: getTableConfig()['colHeaders'],
    columns: getTableConfig()['columns']
  });
  
  
  function bindDumpButton() {
      Handsontable.Dom.addEvent(document.body, 'click', function (e) {
        var element = e.target || e.srcElement;
  
        if (element.nodeName == "BUTTON" && element.name == 'dump') {
          var name = element.getAttribute('data-dump');
          var instance = element.getAttribute('data-instance');
          var hot = window[instance];
          //console.log('data of ' + name, hot.getData());
          var url = "http://localhost:8080/api";
          var tableData = {
            'bogus':'junk',
            'action' : 'create',
            'subtitle_id': getTableConfig()['subtitle_id'],
            'subtitle_content':hot.getData()};
          tableData = JSON.stringify(tableData);
          var dataType = "json";
          $.ajax({
            type: "POST",
            url: url,
            data: tableData,
            // reload page if data is submitted
            // TODO: reload only table, not page
            success: function(){
              window.location.reload();
            },
            dataType: dataType
          });

          //console.log('tableData of ' + name, tableData);

        }
      });
    }
  bindDumpButton();

 </script>
{% endraw %}
 {% autoescape false %}
 {{page_content}}
 {% endautoescape %}
 <p>
 </p>
{% endblock %}
